.film-opening-crawl {
  color: gold;
  text-align: center;
  font-size: 40px;
  margin: 90px;
  line-height: 120%;
}

.film-title, .film-year {
  font-size: 65px;
  font-weight: bold;
  @extend .film-opening-crawl,
}

.film-year {
  color: #72989B;
  font-family: 'permant-marker';
}