@import url('https://fonts.googleapis.com/css?family=Permanent+Marker|Poller+One');



.App {
  font-family: 'Poller One', cursive;
  display: grid;
  grid-template-columns: 1fr 4fr;
  min-height: 100vh;
  background-image: url('./images/background.jpg');
  background-position: center;
}



