.character-card-container {
  color: white;
  display: flex;
  flex-direction: row;
  border: solid white 2px;
  align-items: center;
  flex-flow: wrap;
  justify-content: space-around;
}

.character-card {
  height: 300px;
  width: 300px;
  border: solid yellow 2px;
  margin: 20px;
}

.character-name {
  color: white;
}
